.top-cart {
   background-image: url(img/topcart.jpg);
   height: 400px;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   padding-top: 16px;
}

.heading-big {
   font-style: normal;
   font-weight: 600;
   font-size: 64px;
   line-height: 70px;
   margin-top: 127px;
   color: $color-text;
}

.cart {
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   gap: 32px;
   margin-top: 64px;

   &__form {
      background: #F7F6F6;
      border-radius: 20px;
      height: 556px;
      grid-column: span 4;
   }

   &__content {
      grid-column: span 8;
   }

   &__name_box {
      display: flex;
      justify-content: space-between;
      padding-bottom: 14px;
   }

   &__item {
      border-bottom: 0.5px solid #CACDD8;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
   }

   &__left {
      display: flex;
      gap: 30px;
      padding-top: 32px;
      padding-bottom: 32px;
   }

   &__info {
      width: 276 px;
      display: flex;
      flex-direction: column;
      gap: 14px;

   }

   &__name {
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      color: #000000;
      text-decoration: none;

      &:hover {
         text-decoration: underline;
      }
   }

   &__text {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #888888;
   }

   &__price {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #050505;
   }

   &__link_box {
      display: flex;
      gap: 30px;
   }

   &__link {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 210%;
      text-decoration-line: underline;
      color: #000000;
   }

   &__button-box {
      display: flex;
      gap: 7px;
      margin-top: 18px;
   }

   &__button {
      width: 200px;
      height: 37px;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #020202;
      border: 1px solid #000000;
      border-radius: 50px;
      justify-content: center;
      transition: all 0.3s;

      &:hover {
         background: #000000;
         color: white;
      }

      &_form {
         align-self: center;
         width: 290px;
         animation: jello-horizontal 0.9s 1s 3 both;
      }
   }

   &__number {
      width: 71px;
      height: 51px;
      background: #F7F6F6;
      border-radius: 6px;
      outline: none;
      border: none;
      font-weight: 600;
      font-size: 14px;
      line-height: 210%;
      display: flex;
      align-items: center;
      text-align: center;
      color: #000000;
      padding-left: 16px;
      padding-right: 16px;
   }
}

.form {
   padding-left: 27px;
   padding-right: 32px;
   padding-top: 42px;

   &__heading {
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;
      text-align: center;
      color: #000000;
   }

   &__box {
      padding-top: 35px;
      display: flex;
      flex-direction: column;
      gap: 41px;
   }

   &__item {
      padding-bottom: 3 px;
      outline: none;
      background: transparent;
      border: none;
      border-bottom: 1px solid #CACDD8;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
      font-family: 'Montserrat';

      &::placeholder {
         color: #000000;
      }
   }

   &__result {
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
      color: #000000;
      margin-top: 23px;
      text-align: center;
      margin-bottom: 18px;
   }
}