@media(max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .header {
        padding-top: 32px;

        &__input {
            display: none;
        }
    }

    .menu {
        display: none;

        &-mob {
            display: flex;
            align-items: center;
            gap: 32px;
        }
    }

    .logo {
        &__img {
            width: 99px;
        }
    }

    .title {
        font-size: 48px;
        line-height: 59px;
        text-align: center;

        &_big {
            margin-top: 101px;
        }
    }

    .top {
        &_text {
            font-size: 16px;
            line-height: 32px;
            text-align: center;
        }

        &__contant {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &_link {
            font-size: 14px;
        }
    }

    .product_heading {
        font-size: 24px;
        line-height: 29px;
    }

    .for {
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;

        &__item {
            grid-column: 1 / -1;
            height: 375px;
            font-size: 28px;
            line-height: 34px;

            &_big {
                height: 244px;
            }
        }
    }

    .product {
        &_name {
            font-size: 18px;
            line-height: 22px;
        }

        &_text {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
        }

        &_price {
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
        }
    }

    .footer {
        &_contant {
            justify-content: center;
            gap: 32px;
        }

        &_info {
            gap: 100px;
        }
    }


    .breadcrumbs {
        flex-wrap: wrap;
        gap: 16px;
    }

    .heading-big {
        font-size: 48px;
        line-height: 59px;
        text-align: center;
    }

    .cart {
        grid-template-columns: repeat(4, 1fr);
        margin-top: 64px;

        &__left {
            grid-column: span 4;
        }

        &__form {
            gap: 16px;
            grid-column: span 4;
        }

        &__number {
            margin-top: 18px;
        }

        &__name {
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
        }

        &__text {
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
        }

        &__result {
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
        }

        &__price {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
        }

        &__link_box {
            font-weight: 400;
            font-size: 14px;
        }

        &__image {
            display: none;
        }

        &__button_box {
            margin-top: 0px;
        }

        &__button {
            width: 166px;
            height: 37px;
            font-size: 12px;
            line-height: 20px;

            &_form {
                font-size: 16px;
                width: 290px;
                height: 41px;
            }
        }

        &__result {
            text-align: center;
        }
    }

    .headmob {
        margin-top: 48px;
    }

    .product__heading_cart {
        display: none;
    }

    .select_cat {
        margin-bottom: 32px;
    }
}