@media(max-width: 1024px) {
 .center{
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
    }
 .for{
    &__item{
        height: 268px;
    }
}
    .product_contant{
        column-gap: 29px;
        row-gap: 39px;
    }
    .footer_logo{
        display: none;
    }
    .cart{
        grid-template-columns: repeat(8, 1fr);
        row-gap: 64px;
    }
 }  

@media(min-width: 768px) and (max-width: 833px) {
    .center{
        padding-left: 24px;
        padding-right: 24px;
        }
        .product{
            width: 345px;
        }
}