*{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.body{
    font-family: 'Montserrat'; 
}
.title{
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 78px;
}
.text{
    font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        margin-left: 20px;
        margin-top: 20px;
        margin-right: 20px;
}
.lesson{
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 78px;
}
