@charset "UTF-8";
* {
  margin: 0%;
  padding: 0%;
}

.body {
  font-family: "Montserrat";
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.toptop {
  height: 735px;
  background-image: url(img/topbackground.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #FFFFFF;
  padding-top: 16px;
  margin-bottom: 64px;
}

.top_content {
  height: 400px;
  background-image: url(img/titel_catalog.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #FFFFFF;
  padding-top: 16px;
  margin-bottom: 64px;
}

.header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.8);
  padding-bottom: 18px;
}

.header__input {
  width: 288px;
  height: 41px;
  background: none;
  box-sizing: border-box;
  border-radius: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  padding-left: 25px;
  padding-right: 25px;
  border: 1px solid #FFFFFF;
}

.menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 32px;
}
.menu-mob {
  display: none;
}

.menu_link {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
}
.menu_link:hover {
  text-decoration: underline;
}

.menu_link:hover {
  text-decoration: underline;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  font-style: normal;
  color: #FFFFFF;
  margin-top: 64px;
  margin-bottom: 16px;
  max-width: 792px;
}

.top_text {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 16px;
  margin-left: 14px;
}

.top_link {
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
}
.top_link:hover {
  text-decoration: underline;
}

.for_box {
  margin-bottom: 64px;
}

.for {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(12, 1fr);
}

.for__item {
  height: 415px;
  grid-column: span 4;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}
.for__item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 4px #C4C4C4;
}

.for__item_big {
  grid-column: span 6;
}

.for__item_1 {
  background-image: url(img/for1.jpg);
}

.for__item_2 {
  background-image: url(img/for2.jpg);
}

.for__item_3 {
  background-image: url(img/for3.jpg);
}

.for__item_4 {
  background-image: url(img/for4.jpg);
}

.for__item_5 {
  background-image: url(img/for5.jpg);
}

.for_title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
}

.for_content {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  text-align: center;
  color: #FFFFFF;
}

.product_box {
  margin-bottom: 73px;
}

.product_contant {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 46px;
}

.product_img {
  width: 100%;
}

.product_heading {
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  color: #000000;
  margin-bottom: 32px;
}

.product {
  width: 378px;
  transition: all 0.3s;
}
.product:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px #C4C4C4;
  padding: 8px;
}

.product_name {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.product_text {
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  margin-bottom: 12px;
}

.product_price {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #050505;
}

.product_price_sale {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #888888;
}

.box_link {
  margin-bottom: 64px;
}

.black {
  color: #000000;
}

.footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding-bottom: 40px;
  padding-top: 32px;
  background: #F7F6F6;
}

.footer_logo {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  text-decoration: none;
}

.footer_contant {
  width: 789px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer_heading {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.footer_link {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
  text-decoration: none;
}
.footer_link:hover {
  color: #000;
  text-decoration: underline;
}

.footer__icons {
  display: flex;
  justify-content: space-evenly;
}

.footer__icon path {
  transition: fill 0.3s;
}

.footer__icon:hover path {
  fill: #000;
}

.footer_item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer_info {
  display: flex;
  flex-wrap: wrap;
  gap: 129px;
}

.footer_form {
  display: flex;
  flex-direction: column;
}

.form_text {
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.form_email {
  width: 275px;
  height: 46px;
  background: #FFFFFF;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #C4C4C4;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 16px;
}

.form_button {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 20px;
  width: 275px;
  height: 46px;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  margin-top: 12px;
  transition: all 0.3s;
}
.form_button:hover {
  color: white;
  background-color: #000;
}

/*Каталог*/
.title_cat {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: #FFFFFF;
  margin-top: 64px;
  margin-bottom: 16px;
}

.title_big {
  margin-top: 127px;
}

.breadcrumbs {
  display: flex;
  justify-content: space-between;
}

.breadcrumbs_link {
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}
.breadcrumbs_link:hover span {
  text-decoration: underline;
}

.breadcrumbs_link:hover {
  text-decoration: underline;
}

.breadcrumbs_link:not(:last-child):after {
  content: "/";
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
  padding-left: 10px;
  padding-right: 11px;
}

.select .select select {
  display: block;
  width: 288px;
  /* от ширины блока div */
  padding: 0.75rem 2.5rem 0.75rem 1rem;
  /* отступы от текста до рамки */
  background: none;
  /* убираем фон */
  border: 1px solid #C4C4C4;
  /* рамка */
  border-radius: 20px;
  /* скругление полей формы */
  -webkit-appearance: none;
  /* Chrome */
  -moz-appearance: none;
       appearance: none;
  /* убираем дефолнтные стрелочки */
  height: 41px;
  left: 1032px;
  top: 464px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding-left: 14px;
  font-size: 16px;
  color: #444;
}
.select .select:after {
  content: "";
  display: block;
  border-style: solid;
  border-width: 6px 5px 0 5px;
  border-color: #000 transparent transparent transparent;
  pointer-events: none;
  position: absolute;
  top: 50%;
  right: 1rem;
  z-index: 1;
  margin-top: -3px;
}

.select_cat {
  width: 288px;
  height: 41px;
  left: 1032px;
  top: 464px;
  border: 1px solid #C4C4C4;
  border-radius: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-left: 14px;
  padding-right: 22px;
}

.catalog__link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: underline;
  color: #000000;
}
.catalog__link:hover {
  text-decoration: none;
}

.top-cart {
  background-image: url(img/topcart.jpg);
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 16px;
}

.heading-big {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  margin-top: 127px;
  color: #FFFFFF;
}

.cart {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px;
  margin-top: 64px;
}
.cart__form {
  background: #F7F6F6;
  border-radius: 20px;
  height: 556px;
  grid-column: span 4;
}
.cart__content {
  grid-column: span 8;
}
.cart__name_box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
}
.cart__item {
  border-bottom: 0.5px solid #CACDD8;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cart__left {
  display: flex;
  gap: 30px;
  padding-top: 32px;
  padding-bottom: 32px;
}
.cart__info {
  width: 276 px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.cart__name {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-decoration: none;
}
.cart__name:hover {
  text-decoration: underline;
}
.cart__text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
}
.cart__price {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #050505;
}
.cart__link_box {
  display: flex;
  gap: 30px;
}
.cart__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 210%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
}
.cart__button-box {
  display: flex;
  gap: 7px;
  margin-top: 18px;
}
.cart__button {
  width: 200px;
  height: 37px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #020202;
  border: 1px solid #000000;
  border-radius: 50px;
  justify-content: center;
  transition: all 0.3s;
}
.cart__button:hover {
  background: #000000;
  color: white;
}
.cart__button_form {
  align-self: center;
  width: 290px;
  -webkit-animation: jello-horizontal 0.9s 1s 3 both;
          animation: jello-horizontal 0.9s 1s 3 both;
}
.cart__number {
  width: 71px;
  height: 51px;
  background: #F7F6F6;
  border-radius: 6px;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 210%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  padding-left: 16px;
  padding-right: 16px;
}

.form {
  padding-left: 27px;
  padding-right: 32px;
  padding-top: 42px;
}
.form__heading {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}
.form__box {
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 41px;
}
.form__item {
  padding-bottom: 3 px;
  outline: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid #CACDD8;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  font-family: "Montserrat";
}
.form__item::-moz-placeholder {
  color: #000000;
}
.form__item:-ms-input-placeholder {
  color: #000000;
}
.form__item::placeholder {
  color: #000000;
}
.form__result {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 23px;
  text-align: center;
  margin-bottom: 18px;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .for__item {
    height: 268px;
  }
  .product_contant {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 39px;
  }
  .footer_logo {
    display: none;
  }
  .cart {
    grid-template-columns: repeat(8, 1fr);
    row-gap: 64px;
  }
}
@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .product {
    width: 345px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    padding-top: 32px;
  }
  .header__input {
    display: none;
  }
  .menu {
    display: none;
  }
  .menu-mob {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .logo__img {
    width: 99px;
  }
  .title {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }
  .title_big {
    margin-top: 101px;
  }
  .top_text {
    font-size: 16px;
    line-height: 32px;
    text-align: center;
  }
  .top__contant {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .top_link {
    font-size: 14px;
  }
  .product_heading {
    font-size: 24px;
    line-height: 29px;
  }
  .for {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .for__item {
    grid-column: 1/-1;
    height: 375px;
    font-size: 28px;
    line-height: 34px;
  }
  .for__item_big {
    height: 244px;
  }
  .product_name {
    font-size: 18px;
    line-height: 22px;
  }
  .product_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
  .product_price {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  .footer_contant {
    justify-content: center;
    gap: 32px;
  }
  .footer_info {
    gap: 100px;
  }
  .breadcrumbs {
    flex-wrap: wrap;
    gap: 16px;
  }
  .heading-big {
    font-size: 48px;
    line-height: 59px;
    text-align: center;
  }
  .cart {
    grid-template-columns: repeat(4, 1fr);
    margin-top: 64px;
  }
  .cart__left {
    grid-column: span 4;
  }
  .cart__form {
    gap: 16px;
    grid-column: span 4;
  }
  .cart__number {
    margin-top: 18px;
  }
  .cart__name {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
  .cart__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }
  .cart__result {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }
  .cart__price {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }
  .cart__link_box {
    font-weight: 400;
    font-size: 14px;
  }
  .cart__image {
    display: none;
  }
  .cart__button_box {
    margin-top: 0px;
  }
  .cart__button {
    width: 166px;
    height: 37px;
    font-size: 12px;
    line-height: 20px;
  }
  .cart__button_form {
    font-size: 16px;
    width: 290px;
    height: 41px;
  }
  .cart__result {
    text-align: center;
  }
  .headmob {
    margin-top: 48px;
  }
  .product__heading_cart {
    display: none;
  }
  .select_cat {
    margin-bottom: 32px;
  }
}
@-webkit-keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}/*# sourceMappingURL=style.css.map */