$color-text: #FFFFFF;

* {
    margin: 0%;
    padding: 0%;
}

.body {
    font-family: 'Montserrat';
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.fattext{
    font-weight: 600;
}

.top {
    background-image: url(./img/top.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 217px;
    padding-left: 120px;
    align-items: center;
    justify-content: space-around;

    &__contant {
       padding-bottom: 493px;
       
    }

    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        color: $color-text;
        width: 700px;
    }

    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: $color-text;
        width: 481px;
        margin-top: 32px;
        margin-bottom: 44px;
    }
}

.button {
    width: 234.06px;
    height: 48.6px;
    background: #9C0332;
    border-radius: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $color-text;
    transition: all 0.3s;
    &:hover{
        transform: scale(1.1);
    }
}

.gamebox {
    background-image: url(./img/gamebox.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 128px;
    padding-bottom: 128px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;

    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 32px;

        &_cart {
            border-radius: 16px;
            width: 378px;
            height: 300px;
            display: flex;
            flex-direction: column-reverse;
            transition: all 0.3s;
            &:hover{
                transform: scale(1.1);
            }

        }

        &_cart1 {
            background-image: url(./img/cart1.jpg);
        }

        &_cart2 {
            background-image: url(./img/cart2.jpg);
        }

        &_cart3 {
            background-image: url(./img/cart3.jpg);
        }

        &_name {
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            color: $color-text;
            margin-left: 32px;
            margin-bottom: 32px;
        }
    }
}
@import 'seasons';
@import 'mobile';